/target
/data/db
/icon-gen
/data/db_
/db
/data/binaries
/data/cover_templates
/data/covers
/data/frontend
/data/mangas
/data/ssl
/data/temp
/data/users/banner
/data/users/icon
/data/external
.DS_Store
output.log
/ethread
/data/db.zip
/data/external.zip
/.idea
/epubs
