:root {
    color-scheme: light dark;
}

html,
body,
#__nuxt {
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-text-fill-color: #0f172a;
    box-shadow:
        0 0 0 1px #cbd5e1 inset,
        0 0 0px 1000px #ffffff inset;
    caret-color: #0f172a;
    transition: background-color 9999s ease-in-out 0s;
}

.dark input:-webkit-autofill,
.dark textarea:-webkit-autofill,
.dark select:-webkit-autofill {
    -webkit-text-fill-color: #e2e8f0;
    box-shadow:
        0 0 0 1px #334155 inset,
        0 0 0px 1000px #0f172a inset;
    caret-color: #e2e8f0;
}

.no-scrollbar {
    scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
